
<!doctype html>
<html lang="en">
<body>
  <p>List of all buses</p>
  <table id = "bus_table", border="1">
  <thead>
    <th>Bus name</th>
    <th>From</th>
    <th>To</th>
  </thead>

  <tbody>
    <tr>
    <td><%= @bus1name %> </td>
    <td><%= @bus1src%></td>
    <td><%= @bus1dest %> </td>
  </tr>
  <tr>
    <td><%= @bus2name%></td>
    <td><%= @bus2src%></td>
    <td><%= @bus2dest%></td>
  </tr>
</table>
</body>
</html>
